doctype html
html.mdc-typography
    head
        meta(charset="utf-8")
        title="Proxy User Management"
        link(href=base_path + '/fonts/mdl/Material+Icons', rel='stylesheet')
        link(href=base_path + '/stylesheets/mdl/1.3.0/material.min.css', rel='stylesheet')
        link(href=base_path + '/stylesheets/dialog-polyfill.css', rel='stylesheet')
        script(defer, src= base_path + '/javascripts/jquery/jquery-3.2.1.min.js')
        script(defer, src= base_path + '/javascripts/mdl/1.3.0/material.min.js')
    body
        div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
            include header
            main.mdl-layout__content
                div.page-content.mdl-grid
                    div
                        block usertable
        include dialog
        script(defer, src='javascripts/dialog-polyfill.js')
        script(defer, src='javascripts/formsubmit.js')
    include snackbar
    script(defer, src='javascripts/snackbar.js')


